In [3]:
import csv
import tweepy
from dotenv import dotenv_values
import pandas as pd

In [15]:
#pip install tweepy

In [16]:
config = dotenv_values(".env")

In [17]:
accessToken = config["ACCESS_TOKEN"]
accessTokenSecret = config["ACCESS_TOKEN_SECRET"]
apiKey = config["API_KEY"]
apiSecret = config["API_KEY_SECRET"]
bearerToken = config["BEARER_TOKEN"]

In [19]:
#apiKey

In [18]:
# Authenticate to Twitter
auth = tweepy.OAuthHandler(apiKey, apiSecret) #API Keys
auth.set_access_token(accessToken, accessTokenSecret) #Access tokens

In [24]:
# Create API object
api = tweepy.API(auth, wait_on_rate_limit=True)

In [25]:
# Define the search query and date range
query = "Ronnie O'Sullivan OR #RonnieOSullivan -filter:retweets" #Search his name or hashtag of it
startDate = "2022-01-01"
endDate = "2022-12-31"

In [26]:
# Iterate through pages of results and save to CSV file
csvFile = open("ronnieTweets.csv", "w") #Name of file and write mode
csvWriter = csv.writer(csvFile)

for page in tweepy.Cursor(api.search_tweets, q=query, lang="en", since_id=startDate, until=endDate).pages():
    for tweet in page:
        csvWriter.writerow([tweet.id, tweet.created_at, tweet.text])
        
csvFile.close()

Forbidden: 403 Forbidden
453 - You currently have Essential access which includes access to Twitter API v2 endpoints only. If you need access to this endpoint, you‚Äôll need to apply for Elevated access via the Developer Portal. You can learn more here: https://developer.twitter.com/en/docs/twitter-api/getting-started/about-twitter-api#v2-access-leve

Let this in to show the futility of it all. Twitter v2 endpoints only allow someone to search for recent tweets. Unsuitable for this project

In [28]:
import requests
import json
from twitter_stream import FilteredStream

In [33]:
search_url = "https://api.twitter.com/2/tweets/search/recent"

query_params = {
    #Escaping the character \\"
    "query" : "\"Ronnie O'Sullivan\" -is:retweet",
    "max_results" : "100",
    "tweet.fields" : "author_id",
    "user.fields" : "name"
}

def bearer_oauth(r):
    r.headers["Authorization"] = f"Bearer {bearerToken}"
    r.headers["User-Agent"] = "v2RecentSearchPython"
    return r

def connect_to_endpoint(url,params):
    response = requests.get(url,auth=bearer_oauth,params=params)#
    return response.json()

json_response = connect_to_endpoint(search_url, query_params)

parsedRes = json.dumps(json_response, indent=4, ensure_ascii=False)
print(parsedRes)

{
    "data": [
        {
            "text": "Ronnie O'Sullivan wordt door velen als de \"Greatest Of All Time\" beschouwd en behaalde in 2022 zijn zevende wereldtitel, waarmee hij op gelijke hoogte als Stephen Hendry kwam. Toch mocht ook dat niet baten, want zowel in 2020 als in 2022 landde hij buiten de top 3.",
            "author_id": "2256824641",
            "id": "1653736033521917953",
            "edit_history_tweet_ids": [
                "1653736033521917953"
            ]
        },
        {
            "text": "Die eerste plaats was voor Steve Davis in 1988. De laatste keer dat snooker in de top 3 is ge√´indigd dateert van 1990: een tweede plaats voor Stephen Hendry. In 2020 en 2022 was Ronnie O'Sullivan genomineerd.",
            "author_id": "2256824641",
            "id": "1653736028430057473",
            "edit_history_tweet_ids": [
                "1653736028430057473"
            ]
        },
        {
            "text": "@sporza Hij staat op nummer 2 in de wereld. Op 1 staat Ronnie O'Sullivan, die hij geklopt heeft in de finale. Hij is dus de beste van de wereld van dit moment, en de allereerste wereldkampioen van het Europese vasteland. Als je daar de tittel Sportman van het jaar niet voor krijgt...",
            "author_id": "42986158",
            "id": "1653732712224530432",
            "edit_history_tweet_ids": [
                "1653732712224530432"
            ]
        },
        {
            "text": "@cheegaAsad Ronnie O'Sullivan who",
            "author_id": "915146629925261318",
            "id": "1653729924845387779",
            "edit_history_tweet_ids": [
                "1653729924845387779"
            ]
        },
        {
            "text": "Stephen Feeney arriva per la prima volta in Italia! üáÆüáπ\nIl fondatore di SightRight, gi√† coach di Stephen Hendry e Ronnie O‚ÄôSullivan, sar√† al Torino Snooker Club ASD nel week-end 1/2 luglio per un coaching camp aperto a otto giocatori per giornata. https://t.co/xeDD6l2TcG",
            "author_id": "1326948330837061637",
            "id": "1653702595339321346",
            "edit_history_tweet_ids": [
                "1653702595339321346"
            ]
        },
        {
            "text": "After surprise win, Princess Anne will now face Ronnie O'Sullivan in the semifinals. https://t.co/dWQHkuCtz4",
            "author_id": "51192194",
            "id": "1653663329620049922",
            "edit_history_tweet_ids": [
                "1653663329620049922"
            ]
        },
        {
            "text": "3 maja 1999 roku, Szkot Stephen Hendry rekordowy si√≥dmy raz zosta≈Ç mistrzem ≈õwiata w snookerze. W 2022 roku jego historyczny rekord wyr√≥wna≈Ç Ronnie O'Sullivan. https://t.co/oS8Lj5L5oX",
            "author_id": "896643220968546305",
            "id": "1653641845463826433",
            "edit_history_tweet_ids": [
                "1653641845463826433"
            ]
        },
        {
            "text": "@RolanStuff Don Ronnie O'Sullivan Parera. Y eso que fue de sus partidos menos brillantes",
            "author_id": "343587265",
            "id": "1653630625599877120",
            "edit_history_tweet_ids": [
                "1653630625599877120"
            ]
        },
        {
            "text": "Ultimate snooker rich list ‚Äì from Ronnie O‚ÄôSullivan‚Äôs astonishing net worth to star who splashed ¬£215k on Lamborghini - https://t.co/EMxNkkOkY3 https://t.co/fpfIkjb7He",
            "author_id": "1226173670017708032",
            "id": "1653625613734014976",
            "edit_history_tweet_ids": [
                "1653625613734014976"
            ]
        },
        {
            "text": "De todos los canales que tiene movistar, en casa de mi padre siempre est√° el snooker.\nFanboy de Ronnie O'Sullivan o como se llame, hasta eso he aprendido. https://t.co/AGyVaQxULp",
            "author_id": "1276985656120619008",
            "id": "1653539274686357505",
            "edit_history_tweet_ids": [
                "1653539274686357505"
            ]
        },
        {
            "text": "Ronnie O'Sullivan says Mark Allen and Mark Selby should maybe 'get their own comedy ... #comedy #comedian #comedypodcast https://t.co/XJwcMwKdXM",
            "author_id": "1155579618096758789",
            "id": "1653537486554157058",
            "edit_history_tweet_ids": [
                "1653537486554157058"
            ]
        },
        {
            "text": "Ronnie O‚ÄôSullivan reveals illness could scupper World Championship campaign https://t.co/VWqpwO6mt1",
            "author_id": "1606718683422023680",
            "id": "1653537278709604352",
            "edit_history_tweet_ids": [
                "1653537278709604352"
            ]
        },
        {
            "text": "@thebravesplease I‚Äôm going to do three instead of one, sorry.\n\nMale: Lennox Lewis, Ronnie O‚ÄôSullivan, Ayrton Senna. \n\nFemale: Paula Radcliffe, Victoria Pendleton, Elise Christie.",
            "author_id": "225930488",
            "id": "1653522064739823616",
            "edit_history_tweet_ids": [
                "1653522064739823616"
            ]
        },
        {
            "text": "Ultimate snooker rich list ‚Äì from Ronnie O‚ÄôSullivan‚Äôs astonishing net worth to star who splashed ‚Ç¨244k on Lamborghini https://t.co/EetcLaQYXJ",
            "author_id": "517607733",
            "id": "1653519741481304067",
            "edit_history_tweet_ids": [
                "1653519741481304067"
            ]
        },
        {
            "text": "@guardian ‚Äú‚Ä¶a brand of attacking snooker usually only restricted to one man: Brecel‚Äôs hero, Ronnie O‚ÄôSullivan.‚Äù\n\nAbsolute poppycock. Seriously @AaronBower , have you never heard of Judd Trump? Or Jack Lisowski? Or even Mark Williams?  Do you ever even watch snooker?",
            "author_id": "925473860249686016",
            "id": "1653509846333898752",
            "edit_history_tweet_ids": [
                "1653509846333898752"
            ]
        },
        {
            "text": "Ultimate snooker rich list ‚Äì from Ronnie O‚ÄôSullivan‚Äôs astonishing net worth to star who splashed ¬£215k on Lamborghini\n\nhttps://t.co/L11oiyrGXl",
            "author_id": "390042363",
            "id": "1653504636580515850",
            "edit_history_tweet_ids": [
                "1653504636580515850"
            ]
        },
        {
            "text": "Como para perd√©rselo con el gran Ronnie O‚ÄôSullivan https://t.co/6EkVCArzBC",
            "author_id": "889858984710217729",
            "id": "1653499616963317765",
            "edit_history_tweet_ids": [
                "1653499616963317765"
            ]
        },
        {
            "text": "One year ago today, in 2022: Ronnie O'Sullivan defeats Judd Trump to win the 2022 World Snooker Championship. #onthisday  https://t.co/Wx2pXUAp0b",
            "author_id": "4714520842",
            "id": "1653474440959672325",
            "edit_history_tweet_ids": [
                "1653474440959672325"
            ]
        },
        {
            "text": "@gominismo @maltorres Juntar en un mismo documental a la abuela de cu√©ntame y a Ronnie O'sullivan. La verdad que no lo vi venir esa.",
            "author_id": "441244040",
            "id": "1653473022206984198",
            "edit_history_tweet_ids": [
                "1653473022206984198"
            ]
        },
        {
            "text": "Hossein Vafaei reveals Ronnie O‚ÄôSullivan message after Crucible showdown https://t.co/lHezihcwWj",
            "author_id": "1606718683422023680",
            "id": "1653469295660384256",
            "edit_history_tweet_ids": [
                "1653469295660384256"
            ]
        },
        {
            "text": "Even Ronnie O'Sullivan knows the value of a good deal. Don't miss out on TEMU's cash rewards! Use my invitation code &lt;125798143&gt; and get up to $20 just for searching. It's a win-win, no matter what medal you end up with.\" #TEMU #RonnieO'Sullivan\nhttps://t.co/YmzQiJAEdv",
            "author_id": "1633083543801974785",
            "id": "1653465721698123776",
            "edit_history_tweet_ids": [
                "1653465721698123776"
            ]
        },
        {
            "text": "@jpxan71 ü§£ü§£ yes! Ronnie O‚ÄôSullivan on the ‚Äòchalk‚Äô the good old days üò¨üò¨",
            "author_id": "1652038262716768259",
            "id": "1653461065106087936",
            "edit_history_tweet_ids": [
                "1653461065106087936"
            ]
        },
        {
            "text": "@TSnooker102 Ronnie O‚ÄôSullivan is number one.\nLuca Brecel just stole his fun.\nRonnie took an early bath.\nLuca was just having a laugh",
            "author_id": "1506651564852879368",
            "id": "1653459922485485568",
            "edit_history_tweet_ids": [
                "1653459922485485568"
            ]
        },
        {
            "text": "Niekt√≥rzy prosili, ale i tak wszyscy tego potrzebowali. ùêìùêéùêè ùüì najlepszych zagra≈Ñ snookerowych mistrzostw ≈õwiata üòç\n\n‚≠êÔ∏è Hossein Vafaei, Luca Brecel, Shaun Murphy, Ronnie O‚ÄôSullivan, Si Jiahui\n\nKt√≥re najlepsze‚ùì https://t.co/1D2qjhgUKY",
            "author_id": "128197595",
            "id": "1653459084602114050",
            "edit_history_tweet_ids": [
                "1653459084602114050"
            ]
        },
        {
            "text": "@GisolfBini2 Bijna het gemak van Ronnie O'Sullivan...üòâüëè",
            "author_id": "1554790743113342976",
            "id": "1653451703394369549",
            "edit_history_tweet_ids": [
                "1653451703394369549"
            ]
        },
        {
            "text": "Artificial Intelligence Predicts Ronnie O‚ÄôSullivan‚Äôs Eighth Crucible Victory -Follow @tdpel https://t.co/tivhGJUOvK",
            "author_id": "1328609899211796480",
            "id": "1653443868329754624",
            "edit_history_tweet_ids": [
                "1653443868329754624"
            ]
        },
        {
            "text": "Hey snooker fans! Don't miss out on the action, and don't miss out on some extra cash with TEMU! Use my code &lt;119477976&gt; to get up to $20 in rewards for simply searching. It's a no-brainer - just like Ronnie O'Sullivan's talent! https://t.co/2KsPsaHo70",
            "author_id": "1637449690244431875",
            "id": "1653425766296592388",
            "edit_history_tweet_ids": [
                "1653425766296592388"
            ]
        },
        {
            "text": "02.06.2022 r. - Ronnie O‚ÄôSullivan zdoby≈Ç sw√≥j si√≥dmy tytu≈Ç mistrza ≈õwiata w snookerze i tym samym wyr√≥wna≈Ç rekord Stephena Hendry'ego. https://t.co/dyLaQVZbPC",
            "author_id": "1102876336987738113",
            "id": "1653425284983431169",
            "edit_history_tweet_ids": [
                "1653425284983431169"
            ]
        },
        {
            "text": "Ultimate snooker rich list ‚Äì from Ronnie O‚ÄôSullivan‚Äôs astonishing net worth to star who splashed ¬£215k on Lamborghini https://t.co/78zv2GKlU8",
            "author_id": "436141986",
            "id": "1653421591873593344",
            "edit_history_tweet_ids": [
                "1653421591873593344"
            ]
        },
        {
            "text": "Ultimate snooker rich list ‚Äì from Ronnie O‚ÄôSullivan‚Äôs astonishing net worth to star who splashed ¬£215k on Lamborghini | Sport News | Tue | 2 May | 16:27 |¬†BST https://t.co/EwvdlAdCNV",
            "author_id": "1361685749666570250",
            "id": "1653421108316471297",
            "edit_history_tweet_ids": [
                "1653421108316471297"
            ]
        },
        {
            "text": "Ronnie O'Sullivan y Mark Selby cantando a d√∫o.\n\nhttps://t.co/u9hKohMv24",
            "author_id": "303991218",
            "id": "1653420355728334848",
            "edit_history_tweet_ids": [
                "1653420355728334848"
            ]
        },
        {
            "text": "Which snooker star deserves to win TEMU's $20 cash reward?\n\nA) Ronnie O'Sullivan\nB) Jak Jones\nC) Kyren Wilson\nD) Si Jiahui\nE) Luca Brecel\n\nDon't forget to use my invitation code &lt;119047861&gt; for a chance to win big! Download TEMU now. #TEMU #SnookerStars #CashRewards https://t.co/ifDgMdl09C",
            "author_id": "1635665515510202368",
            "id": "1653417058284064771",
            "edit_history_tweet_ids": [
                "1653417058284064771"
            ]
        },
        {
            "text": "Hossein Vafaei stokes Ronnie O'Sullivan row with \"excuses\" jibe before grudge match https://t.co/0d59wlHaAw",
            "author_id": "1606718683422023680",
            "id": "1653416427679014912",
            "edit_history_tweet_ids": [
                "1653416427679014912"
            ]
        },
        {
            "text": "@apopey We‚Äôd be better off bringing Ronnie O‚ÄôSullivan in, cos it won‚Äôt be long til we need snookers #LUFC",
            "author_id": "219290967",
            "id": "1653414945059491841",
            "edit_history_tweet_ids": [
                "1653414945059491841"
            ]
        },
        {
            "text": "Exciting developments in the world of snooker with Ronnie O'Sullivan being a trending topic and numerous players making impressive runs.\nTemu code for code\nüëâ120129205üëà https://t.co/9PJpwPDsaL",
            "author_id": "1633742249392750592",
            "id": "1653412835140182017",
            "edit_history_tweet_ids": [
                "1653412835140182017"
            ]
        },
        {
            "text": "Exciting developments in the world of snooker with Ronnie O'Sullivan being a trending topic and numerous players making impressive runs.\n\nUse my Temu code please &lt;120528568&gt;\ncode for code! https://t.co/S2QiLk8TBu",
            "author_id": "1623221860392669184",
            "id": "1653409563943763969",
            "edit_history_tweet_ids": [
                "1653409563943763969"
            ]
        },
        {
            "text": "@DaniiSouto joder tanto Ronnie O‚ÄôSullivan en snooker como Ole Einsr Bj√∏rndalen en biatl√≥n han fueron algunos de mis referentes random de la infancia jajajajaja",
            "author_id": "100509292",
            "id": "1653407761391075331",
            "edit_history_tweet_ids": [
                "1653407761391075331"
            ]
        },
        {
            "text": "Exciting developments in the world of snooker with Ronnie O'Sullivan being a trending topic and numerous players making impressive runs.\nTemu code for code &lt;123453096&gt;! Send yours! https://t.co/ubxkR2NehP",
            "author_id": "1604575780196999170",
            "id": "1653405378422644736",
            "edit_history_tweet_ids": [
                "1653405378422644736"
            ]
        },
        {
            "text": "@Nick_Metcalfe Ronnie O‚ÄôSullivan Will forever be number 1",
            "author_id": "161486025",
            "id": "1653402506163003394",
            "edit_history_tweet_ids": [
                "1653402506163003394"
            ]
        },
        {
            "text": "Allesamt au√üerhalb der Top 10 befinden sich Judd Trump, Ronnie O'Sullivan, Mark Williams, Neil Robertson und John Higgins. Also n√§chste Saison m√ºssen die Etablierten wieder liefern, sonst droht sogar das rausfallen aus den Top 16. #147sf",
            "author_id": "568126443",
            "id": "1653385091752574977",
            "edit_history_tweet_ids": [
                "1653385091752574977"
            ]
        },
        {
            "text": "#SnookerWorldChampionship   \nThis year the Snooker Championship     \n               was very entertaining, Ronnie O‚ÄôSullivan was great, and Si      \n          played great Snooker and at the end Brecel winning it was the    \n        cherry on the cake. \nWell done Crucible.",
            "author_id": "821839516956839936",
            "id": "1653372301738475521",
            "edit_history_tweet_ids": [
                "1653372301738475521"
            ]
        },
        {
            "text": "Both things are true:\n\n1) Ronnie O'Sullivan is snooker's biggest star and definitely attracts more casual viewers than anyone else in the game.\n\n2) Snooker can still be very popular without Ronnie - he didn't play at Crucible for last five days and audiences were still strong.",
            "author_id": "125949876",
            "id": "1653364498768560130",
            "edit_history_tweet_ids": [
                "1653364498768560130"
            ]
        },
        {
            "text": "Hossein Vafaei MUGGED Ronnie O‚ÄôSullivan Off!! üòÇüòÇ [Again]\n \nhttps://t.co/A0sevYR2Fl https://t.co/fHXccJiUkV",
            "author_id": "1209346428222496769",
            "id": "1653357424932278273",
            "edit_history_tweet_ids": [
                "1653357424932278273"
            ]
        },
        {
            "text": "üé±üèÜ | Ronnie O'Sullivan heeft zijn zinnen gezet op wereldtitel nummer 8Ô∏è‚É£! Maar eerst is het even tijd voor een ander persoonlijk doel... üèÉ‚Äç‚ôÇÔ∏è https://t.co/CDtLI6NIxC",
            "author_id": "29677101",
            "id": "1653353653041004544",
            "edit_history_tweet_ids": [
                "1653353653041004544"
            ]
        },
        {
            "text": "‚ÄúProbably the most talented snooker players I have ever seen‚Äù - Ronnie O‚ÄôSullivan on Luca Brecel.\n\nWith shots like these to win the World Championship, it‚Äôs hard to disagree.\n\nExciting time for snooker. https://t.co/7LWz3Jzqhb",
            "author_id": "410338981",
            "id": "1653347099642150919",
            "edit_history_tweet_ids": [
                "1653347099642150919"
            ]
        },
        {
            "text": "What a final and what a tournament üôÜ\nBrilliant from #Brecel \ntotally deserved üëèüôå\nHis #snooker over the 2weeks was Phenomenal üáßüá™\nDefeated Ronnie O'Sullivan Mark #Williams and Mark #Salby  üè¥Û†ÅßÛ†Å¢Û†Å•Û†ÅÆÛ†ÅßÛ†Åø Special mention to Si Jaihui üá®üá≥ thought\nWhat a player \n #UK #TwitterWorld #LoveTwitter https://t.co/NHWrCYlNXp",
            "author_id": "710525071",
            "id": "1653336393261744130",
            "edit_history_tweet_ids": [
                "1653336393261744130"
            ]
        },
        {
            "text": "Ronnie O‚ÄôSullivan warns snooker fans might not see him at next World Championship when asked about future plans - https://t.co/9635Tp0h7M https://t.co/oD1JcIceAV",
            "author_id": "1226173670017708032",
            "id": "1653331363469340672",
            "edit_history_tweet_ids": [
                "1653331363469340672"
            ]
        },
        {
            "text": "@InTheBalls147 @susanne_477 Ronnie O'Sullivan winning 10 seniors world titles in his 50s and 60s.\n\nMore people will be watching the Seniors than the normal Worlds üòÖ",
            "author_id": "291897421",
            "id": "1653330404219207680",
            "edit_history_tweet_ids": [
                "1653330404219207680"
            ]
        },
        {
            "text": "@frankenzicke Ja er wird Ronnie O‚ÄôSullivan ersetzen, er hat sowas besonderes!",
            "author_id": "976225807",
            "id": "1653329766865354754",
            "edit_history_tweet_ids": [
                "1653329766865354754"
            ]
        },
        {
            "text": "You don‚Äôt win world titles easy - but to beat Ricky Walden, Mark Williams , Ronnie O‚ÄôSullivan , Si Jiahui and Mark Selby just shows the enormity of what Luca Brecel has achieved. \n\nPlaying a style of game that has everything really this can only be great for the game of snookerüëç",
            "author_id": "859727660825673728",
            "id": "1653326797470048256",
            "edit_history_tweet_ids": [
                "1653326797470048256"
            ]
        },
        {

Lifted this code from my CA2 in first semester. Based on code in one of Sam's class. 100 tweets is the max I can get. Downloading from archive.org also not doable due to the sheer volume of it all.

In [53]:
data = pd.read_csv("elonmusk_tweets.csv")

In [54]:
data.head()

,id,created_at,text
0,849636868052275200,2017-04-05 14:56:29,b'And so the robots spared humanity ... https:...
1,848988730585096192,2017-04-03 20:01:01,"b""@ForIn2020 @waltmossberg @mims @defcon_5 Exa..."
2,848943072423497728,2017-04-03 16:59:35,"b'@waltmossberg @mims @defcon_5 Et tu, Walt?'"
3,848935705057280001,2017-04-03 16:30:19,b'Stormy weather in Shortville ...'
4,848416049573658624,2017-04-02 06:05:23,"b""@DaveLeeBBC @verge Coal is dying due to nat ..."

In [55]:
data = data.drop("id", axis=1)

In [56]:
data.head()

            created_at                                               text
0  2017-04-05 14:56:29  b'And so the robots spared humanity ... https:...
1  2017-04-03 20:01:01  b"@ForIn2020 @waltmossberg @mims @defcon_5 Exa...
2  2017-04-03 16:59:35      b'@waltmossberg @mims @defcon_5 Et tu, Walt?'
3  2017-04-03 16:30:19                b'Stormy weather in Shortville ...'
4  2017-04-02 06:05:23  b"@DaveLeeBBC @verge Coal is dying due to nat ...

In [57]:
data["created_at"]

0       2017-04-05 14:56:29
1       2017-04-03 20:01:01
2       2017-04-03 16:59:35
3       2017-04-03 16:30:19
4       2017-04-02 06:05:23
               ...
2814    2011-12-03 08:22:07
2815    2011-12-03 08:20:28
2816    2011-12-01 10:29:04
2817    2011-12-01 09:55:11
2818    2010-06-04 18:31:57
Name: created_at, Length: 2819, dtype: object

In [58]:
data.dtypes

created_at    object
text          object
dtype: object

In [59]:
data=data.rename(columns={"created_at":"date"})
data["date"]=pd.to_datetime(data["date"],format="%Y/%m/%d")

In [60]:
data.dtypes

date    datetime64[ns]
text            object
dtype: object

In [61]:
data.date[0].year

2017

In [62]:
if data.date[0].year == 2017:
    print("Yes")
else:
    print("No")

Yes

In [63]:
len(data.index)

2819

In [64]:
x = 0;
for y in data.date:
    if y.year == 2017 or y.year == 2010:
        data.drop(x, axis=0, inplace=True)
        x+=1
    else:
        x+=1

In [65]:
data.head()

                   date                                               text
377 2016-12-31 21:30:05  b'HW2 Autopilot software uploading to 1000 car...
378 2016-12-31 02:47:28  b'@vicentes @DragTimes Late Jan, along with Li...
379 2016-12-31 02:40:28  b'@DragTimes Yes, but held up by Autopilot . I...
380 2016-12-31 02:34:09  b'Resolving an Autopilot HW2 bug that shows up...
381 2016-12-30 19:44:02  b'Churchill (non) quotes \nhttps://t.co/avA4YD...

In [66]:
data.tail()

                    date                                               text
2813 2011-12-04 03:33:52  b'Am reading a great biography of Ben Franklin...
2814 2011-12-03 08:22:07               b'That was a total non sequitur btw'
2815 2011-12-03 08:20:28  b'Great Voltaire quote, arguably better than T...
2816 2011-12-01 10:29:04  b'I made the volume on the Model S http://t.co...
2817 2011-12-01 09:55:11  b"Went to Iceland on Sat to ride bumper cars o...

In [67]:
data = data.reset_index()

In [69]:
data.drop("index",axis=1,inplace=True)

In [70]:
data.head()

                 date                                               text
0 2016-12-31 21:30:05  b'HW2 Autopilot software uploading to 1000 car...
1 2016-12-31 02:47:28  b'@vicentes @DragTimes Late Jan, along with Li...
2 2016-12-31 02:40:28  b'@DragTimes Yes, but held up by Autopilot . I...
3 2016-12-31 02:34:09  b'Resolving an Autopilot HW2 bug that shows up...
4 2016-12-30 19:44:02  b'Churchill (non) quotes \nhttps://t.co/avA4YD...

In [76]:
a = 0;
b = 0;
c = 0;
d = 0;
e = 0;
f = 0;
for y in data.date:
    if y.year == 2011:
        a +=1
    if y.year == 2012:
        b += 1
    if y.year == 2013:
        c += 1
    if y.year == 2014:
        d += 1
    if y.year == 2015:
        e += 1
    if y.year == 2016:
        f += 1       
print(a,b,c,d,e,f)

44 316 478 232 436 935

In [80]:
x = 0;
for y in data.date:
    if y.year == 2016:
        x+=1
    else:
        data.drop(x, axis=0, inplace=True)
        x+=1

In [81]:
data.head()

                 date                                               text
0 2016-12-31 21:30:05  b'HW2 Autopilot software uploading to 1000 car...
1 2016-12-31 02:47:28  b'@vicentes @DragTimes Late Jan, along with Li...
2 2016-12-31 02:40:28  b'@DragTimes Yes, but held up by Autopilot . I...
3 2016-12-31 02:34:09  b'Resolving an Autopilot HW2 bug that shows up...
4 2016-12-30 19:44:02  b'Churchill (non) quotes \nhttps://t.co/avA4YD...

In [82]:
data.tail()

                   date                                               text
930 2016-01-10 20:11:38  b"In ~2 years, summon should work anywhere con...
931 2016-01-10 20:08:28  b'Tap your phone or key and your car will open...
932 2016-01-10 20:04:43  b'First baby step in Tesla Summon capability n...
933 2016-01-02 17:07:03  b'Worth reading The Machine Stops, an old stor...
934 2016-01-01 00:19:43  b'Falcon 9 back in the hangar at Cape Canavera...

In [83]:
data.to_csv('2016tweets.csv')