In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("2020-03-22_clean-dataset.tsv", sep='\t')

In [3]:
data.head()

              tweet_id       date    time
0  1241575703012716544  2020-3-22  4:1:29
1  1241575703331639296  2020-3-22  4:1:29
2  1241575703377780736  2020-3-22  4:1:29
3  1241575703394615296  2020-3-22  4:1:29
4  1241575703415369728  2020-3-22  4:1:29

In [4]:
print(data)

                   tweet_id       date    time
0       1241575703012716544  2020-3-22  4:1:29
1       1241575703331639296  2020-3-22  4:1:29
2       1241575703377780736  2020-3-22  4:1:29
3       1241575703394615296  2020-3-22  4:1:29
4       1241575703415369728  2020-3-22  4:1:29
...                     ...        ...     ...
779687  1241938418990493697  2020-3-23  4:2:47
779688  1241938419032489987  2020-3-23  4:2:47
779689  1241938419342860291  2020-3-23  4:2:47
779690  1241938422287253506  2020-3-23  4:2:48
779691  1241938422329233410  2020-3-23  4:2:48

[779692 rows x 3 columns]

In [5]:
dat = pd.read_csv("2020-03-22-dataset.tsv", sep='\t')

In [7]:
dat.head()

              tweet_id       date    time
0  1241575703012716544  2020-3-22  4:1:29
1  1241575703319138304  2020-3-22  4:1:29
2  1241575703331639296  2020-3-22  4:1:29
3  1241575703352692742  2020-3-22  4:1:29
4  1241575703377780736  2020-3-22  4:1:29